data_preprocessing_before_rollouts/*
raw_rollouts/*
__pycache__/*
flattened_rollout_files/*
prm_training_data/*
merged_verification_files/*
processed_full_verification_files/*
flattened_verification_query_files/*
flattened_verification_result_files/*
process_verification_files_logs/*
merge_verification_and_rollout_logs/*
final_combined_MC_and_verification_files/*
old_AI2D_final_mc_rollouts_with_all_models_verification_merged.jsonl
.env
ai2d_images/*
consensus_filtering_to_prm_signal_conversion_logs/*
completed_prm_training_data_conversion/*